body{
    position: relative;
    width: 100%;
    left: 0;
    margin: 0;
    border-color:#ffffff57;
}


button{
    border: none;
    background: #ffffff57;
    padding: 10px 10px;
    border-radius: 20px;
    margin: 10px;
    color: white;
    outline: none;
    font-size: 20px;
}

input{
    border: none;
    background-color: transparent;
    border-bottom: #ffffff57 2px solid;
    padding: 0 20px;
    color: white;
    outline: none;
    font-size: 25px;
}


.name{
    text-transform: capitalize;
}
.default{
    background: rgba(71, 109, 212, 0.562);
   
}

.default__list{
    background: rgb(71, 109, 212);
    border-radius: 5px;
}

.water{
    background: #89cff0;
}

.fire{
    background: rgba(197, 70, 70, 0.753);
}

.fairy{
    background: rgba(255, 187, 187, 0.719);
}

.electric{
    background: rgb(241, 209, 125);
}

.rock{
    background: #c2775ed7;
}

.psychic{
    background: rgba(95, 56, 139, 0.596);
}

.grass{
    background-color: #49d0b1;
}